In [2]:
import pandas as pd
import gzip

with gzip.open('C:/Users/123\Downloads/title.basics.tsv.gz', 'rt', encoding='utf-8') as f:
    df = pd.read_csv(f, delimiter='\t')

C:\Users\123\AppData\Local\Temp\ipykernel_28996\2636356860.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f, delimiter='\t')

In [3]:
df[50:60]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
50,tt0000052,short,Carga de rurales,Carga de rurales,0,1896,\N,1,"Documentary,Short"
51,tt0000053,short,A Chegada do Comboio Inaugural à Estação Centr...,A Chegada do Comboio Inaugural à Estação Centr...,0,1897,\N,\N,"Documentary,Short"
52,tt0000054,short,A Merry-Go-Round,Les chevaux de bois,0,1896,\N,\N,Short
53,tt0000055,short,Le chiffonnier,Le chiffonnier,0,1896,\N,\N,Short
54,tt0000056,short,Uma Corrida de Touros no Campo Pequeno,Uma Corrida de Touros no Campo Pequeno,0,1896,\N,\N,Short
55,tt0000057,short,Cortège de tzar allant à Versailles,Cortège de tzar allant à Versailles,0,1896,\N,\N,"Documentary,Short"
56,tt0000058,short,Cortège de tzar au Bois de Boulogne,Cortège de tzar au Bois de Boulogne,0,1896,\N,\N,"Documentary,Short"
57,tt0000059,short,Coronation of a Village Maiden,Couronnement de la rosière,0,1896,\N,\N,Short
58,tt0000060,short,Dancing Darkies,Dancing Darkies,0,1896,\N,\N,"Documentary,Short"
59,tt0000061,short,Dancing Girls,Dancing Girls,0,1896,\N,\N,Short

In [4]:
df[df["tconst"] == "tt0105112"]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
102763,tt0105112,movie,Patriot Games,Patriot Games,0,1992,\N,117,"Action,Thriller"